html {
  --main-background: ;

  --gap-sm: 8px;
  --gap-md: 16px;
  --gap-lg: 24px;

  --padding-sm: 8px;
  --padding-md: 16px;
  --padding-lg: 24px;

  --font-sm: 8px;
  --font-md: 16px;
  --font-lg: 24px;
  --font-xl: 32px;

  --small-desktop: 1024px;
}
